@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Header Styling */
header {
  padding: 0% 8%;
  min-height: 10vh;
  background-color: var(--light-black-0);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--grey-white);
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 3px var(--grey-white);
  text-transform: uppercase;
  letter-spacing: 5px;
}

header ul {
  width: 45%;

  display: flex;
  justify-content: space-around;
}

header ul li {
  list-style: none;
}

header ul li a {
  color: var(--grey-white);
  padding: 3px 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;

  border-style: solid;
  border-width: 0px 0px 3px;
  border-color: transparent;
}

header ul li a.private-zone-btn {
  padding: 6px;

  border: 3px solid var(--grey-white);
  border-radius: 5px;
}

header .burger {
  display: none;
  cursor: pointer;
}

header .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--grey-white);

  transition: 0.3s ease;
}

/* Responsive Design */
@media screen and (max-width: 1280px) {
  header ul {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  header ul {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 35%;
    height: 80vh;
    background-color: var(--light-black-0);

    display: flex;
    align-items: center;
    flex-direction: column;

    transform: translateX(100%) translateY(-50%);
    transition: transform 0.3s ease-in;
  }

  header ul li {
    opacity: 0;
  }

  header .burger {
    display: block;
  }
}

/* Burger Animation */
.burger.burgerIsClick .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.burgerIsClick .line2 {
  opacity: 0;
}

.burger.burgerIsClick .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

header ul.burgerIsClick {
  transform: translateX(0%) translateY(0%);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Navbar Hover Effect */
header ul li a:hover {
  border-color: var(--grey-white);
}

header ul li a.private-zone-btn:hover {
  color: var(--light-red);
  border-color: var(--light-red);
}

/* Navbar Item Activated Effect */
header ul li a.active {
  color: var(--light-yellow);
}

header ul li a.private-zone-btn.active {
  color: var(--light-yellow);
  border-color: var(--light-yellow);
}
