@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grey-white: rgb(226, 226, 226);
  --light-black-0: rgb(25, 25, 25);
  --light-black-1: rgb(35, 35, 35);

  --dark-blue: rgb(30, 45, 65);
  --dark-violet: rgb(63, 40, 50);

  --light-red: rgb(213, 93, 93);
  --light-blue: rgb(80, 120, 170);
  --light-yellow: rgb(219, 185, 35);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  position: relative;
  min-height: 90vh;
}

header ul {
  z-index: 1;
}

header {
  z-index: 2;
}

footer {
  z-index: 3;
}

*:focus {
  outline: none;
}
